@page "/books"
@using Microsoft.AspNetCore.Authorization
@using lib_blazor.Model
@inject HttpClient Http
@attribute [Authorize]

<h3 class="text-center">All Books</h3>

<style>
    .custom-input-group {
        width: 400px; /* Set the desired width for the input group */
    }

    .custom-input {
        margin-right: 10px; /* Spacing between input and button */
    }
</style>

<div class="d-flex justify-content-center align-items-center" style="height: 100px;">
    <form @onsubmit="HandleFormSubmit" class="custom-input-group">
        <div class="input-group">
            <input type="text" @bind="searchTerm" class="form-control custom-input" placeholder="Search for books..." aria-label="Search for books...">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </form>
</div>




<div class="row">
    @if (books != null && books.Any())
    {
        @foreach (var book in books)
        {
            <div class="col-md-6 mb-4">
                <BookCard Book="book" />
            </div>
        }
    }
    else
    {
        <p class="text-center">No books available.</p>
    }
</div>

@code {
    private List<Book>? books;
    private string searchTerm = string.Empty;

    private async Task HandleFormSubmit()
    {
        await LoadBooks(searchTerm);
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadBooks(searchTerm);
    }

    private async Task LoadBooks(string term)
    {
        try
        {
            if (string.IsNullOrWhiteSpace(term))
            {
                books = await Http.GetFromJsonAsync<List<Book>>("api/Book");
            }
            else
            {
                books = await Http.GetFromJsonAsync<List<Book>>($"api/Book?searchTerm={term}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}